{% extends "base.twig" %}
{% block content %}
	<div class="l-page-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center">{{title}}</h2>
				</div>
			</div>

			<div class="row">
				{% for post in posts %}
					<div class="col-md-4">
						<a href="{{post.link}}">{{post.title}}</a><br>
						<p>{{post.post_date|date("d M Y")}}</p>

						<p>{{post.post_content|excerpt(30)}}</p>
					</div>
					
					{% if loop.index is divisibleby(3) and not loop.last %}
						</div>
						<div class="row">
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
