<div class="l-nav slideInDown">
	<div class="l-nav__inner">
		<div class="l-nav__title">
			Menu
		</div>
		<ul class="l-nav__menu">
			<li>
				<a href="{{site.link}}">The RGB Experience</a>
			</li>
			<li>
				<a href="{{site.link}}/incentives">Incentives</a>
			</li>
			<li>
				<a href="{{site.link}}/training">Training</a>
			</li>
			<li>
				<a href="{{site.link}}/careers/progression">Career Progression</a>
			</li>
			<li>
				<a href="{{site.link}}">The RGB Community</a>
			</li>
		</ul>
	</div>
	<a class="l-nav__close" id="js-close-nav" href="#"></a>
</div>
