{% extends "base.twig" %}
{% block content %}

	{% include 'layout/acf/hero.twig' with {'postType': 'home'} %}

	<div class="text-center">
		<h2 class="b-section-header__title bg--grey">All about the bike</h2>
	</div>

	<div class="l-archive l-news-block">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					{{post.content}}
					
					<div class="b-cta-container">
						{% for cta in post.get_field('call_to_action') %}
						    <div class="col-sm-6">
						    	<div class="b-call-to-action" style="background-image: url({{cta.image}});">
						    		<a href="{{cta.link}}" class="b-call-to-action__text"><span>{{cta.title}}</span></a>
						    	</div>
						    </div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-4">
				<a class="twitter-timeline" data-height="1081" data-theme="dark" href="https://twitter.com/Pedal_Devil">Tweets by Pedal_Devil</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</div>
	</div>

	<div class="l-gallery-strip">
		{% for image in post.get_field('gallery') %}
		    <a href="{{image.image.url}}" data-caption=""><img src="{{image.image.url|resize(250, 250)}}" alt=""></a>
		{% endfor %}
	</div>

	{% include 'footer.twig' with {'pullup': '120'} %}

{% endblock %}

