<footer id="footer">
	<div class="l-page-section l-page-section--black l-footer-bottom">
		<div class="container h-100">
			<div class="row">

				<div class="col-md-12 dont-show-me-on-phones">
					<div class="l-footer-bottom__nav text-center">
						<ul>
							{% for item in footerNav.get_items %}
								<li class="{{item.classes | join(' ')}}">
									<a href="{{item.get_link}}">{{item.title}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="l-footer-bottom__social">
					<div class="col-md-12 text-center">
						<ul>
							{% if options.twitter %}
								<li><a href="{{options.twitter}}"><span class="icon-twitter"></span></a></li>
							{% endif %}
							
							{% if options.facebook %}
								<li><a href="{{options.facebook}}"><span class="icon-facebook"></span></a></li>
							{% endif %}

							{% if options.google_plus %}
								<li><a href="{{options.google_plus}}"><span class="icon-googleplus"></span></a></li>
							{% endif %}

							{% if options.youtube %}
								<li><a href="{{options.youtube}}"><span class="icon-youtube"></span></a></li>
							{% endif %}

							{% if options.rss_feed %}
								<li><a href="{{options.rss_feed}}"><span class="icon-rss"></span></a></li>
							{% endif %}

							{% if options.linkedin %}
								<li><a href="{{options.linkedin}}"><span class="icon-linkedin"></span></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 l-footer-top__content text-center">
					{{options.top_footer_content}}
				</div>
				<div class="col-md-12 text-center">
					<li >&copy; {{ 'now'|date('Y') }}</li>
				</div>
			</div>
		</div>
	</div>
</footer>
