{% if media_item.content %}
	{% if media_item.form_placement == 'left' %}
		{% set placement = 'pull-left' %}
	{% elseif media_item.form_placement == 'right' %}
	    {% set placement = 'pull-right' %}
	{% else %}
	    {% set placement = 'none' %}
	{% endif %}
{% else %}
	   {% set placement = 'col-md-offset-2' %}
{% endif %}

<div class="container">
	{% if media_item.title %}
		<div class="row">
			<div class="col-md-12 text-center l-contact-content">
				<h1>{{media_item.title}}</h1>	
			</div>
		</div>
	{% endif %}

	<div class="row">
		{% if media_item.content and placement == 'pull-left' or placement == 'pull-right' %}
			<div class="col-md-12">
				<div class="l-contact-form " style="float: {{media_item.form_placement}}; width: 50%;">
					{% filter shortcodes %}
						{{media_item.form}}
					{% endfilter  %}
				</div>
				<div style="margin-top: 40px;">
					{{media_item.content}}
				</div>
			</div>
		{% else %}
			{% if media_item.content %}
				<div style="margin-top: 40px;">
					{{media_item.content}}
				</div>
			{% endif %}
			<div class="l-contact-form col-md-8 col-md-offset-2">
				{% filter shortcodes %}
					{{media_item.form}}
				{% endfilter  %}
			</div>	
		{% endif %}
	</div>
</div>